@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}


body {
  font-family: 'Poppins', sans-serif;
  /* flex-shrink: 0; */
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;

}

.nav-item {
  padding: 15px 50px;
  font-size: 30px;
  font-style: 'Poppins', sans-serif;
  font-weight: normal;
  color: #686565;
}

.nav-wrap {
  list-style: none;
}

.company-name {
  box-sizing: border-box;
  margin-left: 78px;
  margin-top: 45px;
  padding: 0;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 48px;
  text-align: right;
  color:#0E0578;
}

.d-flex {
  display: flex;
  /* flex-shrink: 0; */
}

.h-100 {
  height: 100%;
}
.bottom-letter {
  display: flex;
  justify-content: flex-start;
  letter-spacing: 0.35em;
}
.hr-line {
  margin: 0 40px 40px;
  color: #000;
  size: 3px;
  text-align: center;
}
.p-32 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px 20px;
  height: 32px;
}
.personal-info {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  /* flex-shrink: 0; */
}
.my-photo {
  display: flex;
}
.my-photo1-margin {
  margin-right: 100px;
  margin-left: 450px;
}

.my-photo2-margin {
  margin-right: 100px;
  margin-left: 100px;
}
.h-flex {
  margin-left: 78px;
  padding: auto;
}
.text-main {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 36px;
}
.text-lorem-ipsum {
  margin-left: 78px;
  text-align: left;
}

.p-30 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: #2000e7;
}
.my-main-info {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  line-height: 78px;
  font-weight: 700;
  color: #2000e7;
}
.profession {
  color: #F2BD00;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 80px;
}

.btn-params {
  width: 230px;
  height: 72px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 11px 21px 15px rgba(0, 0, 0, 0.25);
}
.button-hire {
  margin-left: 77px;
  color: #fff;
  background: #2000e7;
  border: none;
}

.button-project {
  margin-left: 79px;
  color: #2000e7;
  background: #fff;
  border-color: #2000e7;
}

.about-me-letter-spacing {
  letter-spacing: 10px;
  margin-left: 46px;
}

.hire-align {
  padding-left: 25px;
}
.text-about-me {
  display: flex;
  flex-direction: row;
  margin-left: 46px;
  margin-right: 120px;
}
.text-info2 {
  margin-top: 200px;
  /* flex-shrink: 0; */
}
.my-projects{
  display: flex;
  flex-direction: column;
  background: #FFD69633;
  padding-top: 50px;
  padding-bottom: 25px;
}
.dummy-text {
  text-align: center;
  line-height: 0.8;
}
.my-proj-images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 180px;
  margin-bottom: 50px;
}
.contact-form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-left: 66px;
  /* flex-shrink: 0; */
}
.forms-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form{
  margin-top: 200px;
  margin-left: 150px;
}
textarea {
	resize: none;
	width: 653px;
	height: 265px;
  margin-top: 80px;
  box-shadow: 13px 21px 4px rgba(0, 0, 0, 0.25);
}
input[type=text]{
  width:653px;
  height: 94px;
}
input[type=password]{
  width:653px;
  height: 94px;
  margin-top: 80px;
}
.input-f {
  width: 653px;
  height: 94px;
  box-shadow: 13px 21px 4px rgba(0, 0, 0, 0.25);
}
.input-f::placeholder,
.txt-field::placeholder
{ 
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: #000;
  padding-left: 30px;
}

.btn-send-font
{ 
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: #000;
}

.saly-13 {
  margin-right: 150px;
}
.btn-size {
  margin-left: 164px;
  width: 327px;
  height: 94px;
  box-shadow: 13px 21px 4px rgba(0, 0, 0, 0.25);
}