@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    padding-left: 78px; 
    padding-top: 45px;
    color: white;
}

header .company-name {
    box-sizing: border-box;
    /* padding: 15px; */
    font-size: 48px;
    font-weight: 700;
    /* flex-direction: ; */
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color:#0E0578;


}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}

header nav ul li {
    /* display: inline-block; */
    width: 20%;
    /* margin: auto; */
    font-style: 'Poppins', sans-serif;
    font-weight: normal;
    color: #686565;
}

main {
    display: flex;
}

